
body {
    font-family: Cantarell, sans-serif;
    max-width: 50em;
    margin: 1em;
    padding: 0;
    background: #ffffff;
    color: #555753;
}

@media screen and (min-width: 50em) {
  /* screen larger than 30em */
  body { margin: 1em auto; }
}

h1 {
    font-size: 1.2em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

a, a:visited {
    text-decoration: none;
    color: #3465a4;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: #729fcf;
}

/* keep taking up space instead of hide */
hr {
    visibility: hidden;
    height: 1px;
    padding: 0px;
}

img {
    border: none;
}

table {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border-collapse: collapse;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 3px;
}

/* icon column */
th:first-child,
td:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 24px;
    text-align: right;
}

tbody > tr:first-child {
    border-bottom: solid 1px #ccc;
}

address {
    font-size: 80%;
    font-style: normal;
    color: #babdb6;
}

address a {
    color: #888a85;
}
