/* Ipsilon GNOME theme */

@import url("fonts.css");

/* Base information */
/* ========================================================================== */

html {
    background: transparent;
}

body {
    font-family: Cantarell,'Droid Sans',Ubuntu,'DejaVu Sans',Arial,sans-serif;
}

a {
    color: #204a87;
}

a:hover {
    color: #3465a4;
}

a:visited {
    color: #5d396e;
}

h1, h2, h3, h4, h5, h6 {
    color: #0489B7;
}

h1, h2, h3 {
    font-weight: 700;
}

.main_feature {
    font-size: 14pt;
}


/* Sticky Footer */
.gnome-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100vh;
}
.gnome-content {
    -webkit-flex:1;
    -ms-flex:1;
    -webkit-box-flex:1; 
    flex:1;
}

/*
 * Bootstrap extension
 * Extend and overwrite Bootstrap Framework
 *
 */
/* ========================================================================== */

.btn {
    text-decoration: none;
    border-radius: 4px;
    padding: 6px 30px;
}

.btn-primary {
    background-color: #4a86cf;
}

.alert-error {
    color: #a94442;
}

.col-centered {
    float: none;
    margin: 0 auto;
}


/* Header */
/* ========================================================================== */

.gnome-header {
    background-color: #4a86cf;
    border-color: #3968a1;
    color: #ffffff;
}

.gnome-content {
    padding-top: 40px;
}

.gnome-brand {
    max-height: 35px;
    margin: 8px 0;
}

/* Footer */
/* ========================================================================== */

.footer {
    background: #000;
    color: #bcb8b8;
    padding: 20px 20px;
}

.footer a {
    color: #ffffff;
    outline: 0;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    margin: 6px 0;
    font-size: 14px;
}
