body {

	padding: 0px;
   	background: url(https://static.gnome.org/img/html-bg.png) repeat-x scroll 0 10px #FFFFFF;
   	height: 100%;
   	margin: 0px;
        color: #2E3436;
        font-family: Cantarell,sans-serif;
        font-size: 14px;
        line-height: 1.6;
        width: 100%;
}

div#content {
    font-family: Cantarell, sans-serif;
    max-width: 50em;
    margin: 1em auto;
    padding: 0;
    color: #555753;
    margin-top: 26px;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
}

a, a:visited {
    text-decoration: none;
    color: #3465a4;
}

a:hover {
    text-decoration: underline;
    text-decoration: none;
    color: #729fcf;
}

/* keep taking up space instead of hide */
hr {
    visibility: hidden;
    height: 1px;
    padding: 0px;
}

img {
    border: none;
}

table {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    border-collapse: collapse;
}

th, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 3px;
}

/* icon column */
th:first-child,
td:first-child {
    padding-left: 0px;
    padding-right: 0px;
    width: 24px;
    text-align: right;
}

tbody > tr:first-child {
    border-bottom: solid 1px #ccc;
}

address {
    font-size: 80%;
    font-style: normal;
    color: #babdb6;
}

address a {
    color: #888a85;
}

/* Footer Grass & community */

#footer_grass {
    background: url(https://static.gnome.org/img/grass.png) repeat-x scroll top transparent;
    height: 39px;
    margin-top: -33px;
    bottom: 0;
}

#footer_community {
    background: url(https://static.gnome.org/img/footer_arts/community.png) center no-repeat;
    height: 180px;
    bottom: 0; 
}

/* FOOTER  */

#footer div.links > div > ul > li {
    float: left;
    margin: 0 40px 10px 0;
}

#footer ul li {
    margin: 0;
    padding: 0;
}

#footer p {
	color: #3F4448;
	margin: 0em;
}

#footer #footnotes {
 /*   font-size: 9px;*/
    margin-top: 10px;
}

#footer #footnotes small {
	font-size: 88%;
}
#footer ul.menu > li > a {
    font-weight: bold;
}

#footer div.links div a, #footer div.links div strong {
    display: block;
    text-decoration: none;
}

#footer .links a {
    -moz-transition: background-color 100ms ease-in 0s;
    color: inherit;
}

#footer {
    background: none repeat scroll 0 0 #D3D7CF;
    clear: left;
    color: #555753;
    padding: 14px 0 230px;
    margin: auto;
}

#footer {
    font-size: 12px;
    line-height: 1.4em;
}

#footer ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

#footer li {
	display: inline;
	padding: 0 0;
}

#footer a {
	color: #3465a4;
	text-decoration: none;
}

#footer div.links div a:hover{
    display: block;
    text-decoration: underline;
}

.container_12 {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    margin-top: 20px;
}

.container_12 .grid_9 {
    width: 650px;
}

.grid_9 {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/* global domain bar */

#global_domain_bar {
    width: 960px;
    margin: auto;
}

#global_domain_bar .maxwidth {
    margin: 10px;
    margin-top: auto;
}

#global_domain_bar .tab {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 4px 2px -2px #8FB3D9;
    float: right;
    font-size: 12px;
    line-height: 16px;
    padding: 4px;
    margin-top: -18px;
    right: 0;
}

#global_domain_bar .tab a.root:last-child {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

#global_domain_bar .tab a.root {
    background: url(https://static.gnome.org/img/favicon.png) no-repeat scroll 0 0 #FFFFFF;
    border-right: 1px solid #CCCCCC;
    color: #555753;
    font-weight: bold;
    margin-right: 3px;
    padding-left: 18px;
    padding-right: 6px;
    text-decoration: none;
}

