/* Basic structure */
html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#body {
    margin: 90px 230px 0px 10px;
}

#container {
    min-height: 100%;
    position: relative;
}

#header {
    background: #fff;
    font-size: 0.9em;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
}

#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;
    background: #4a86cf url(menu.svg) 0 70%  no-repeat;
}
#header li,
#footer li {
    display: inline-block;
    padding: 0 0.6em;
}
.gnome-navbar-brand {
    padding: 5px;
    float: left;
    outline: 0;
    margin-left: 9%;
}
.gnome-navbar-brand img {
    max-height: 35px;
    min-height: 35px;
    min-width: 35px;
}
#main_content {
    /*! padding: 10px; */
    padding-bottom: 15em;   /* Height of the footer */
    padding-top: 80px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main_content,
#footer_content {
width: 80%;
    margin: auto;
}

div#content { 
    /* so it gets on top of sidebar when overflowing
    * (necessary so wide diff tables are readable) */
    position: relative;
    z-index: 1000;
}

div.editor div#content {
    max-width: none;
    margin-right: 1em;
}


/* Basic classes */

.none { /* to add paragraph spacing to various elements for ttys */
    margin: 0px;
    padding: 0px;
}

.invisible { /* stuff that should appear when this css isn't used */
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 0px;
    visibility: hidden;
}

.left {
    margin: 10px;
    padding: 0px;
    float: left;
}

.right {
    margin: 10px;
    padding: 0px;
    float: right;
}

.text-center,
.center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.image-left img {
    margin: 0 20px;
    float: left;
}

.image-right img {
    margin: 0 20px;
    float: right;
}

.padding-bottom-sm {
    padding-bottom: 20px;
}

.padding-bottom-lg {
    padding-bottom: 40px;
}

.padding-top-sm {
    padding-top: 20px;
}

.padding-top-lg {
    padding-top: 40px;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Common page elements: Header, footer, etc. */

/* Search thingy */

#search {
    margin: auto;
    text-align: center;
    font-size: 80%;
    margin-top: 1.5em;
}

div#search form {
    background: transparent;
}

input#searchinput {
    border: 1px solid #888888;
    margin-right: 6px;
}

/* News Sections */

p.newsitem {
    clear: left;
    margin-bottom: 20px;
}

p.newsitem img.newsicon {
    float: left;
    margin: 0px 10px 10px 10px;
    border: 0px;
}


/* Generic Classes */

div.code {
    background-color: #e0e0e0;
    color: #000000;
    white-space: pre;
    font-family: monospace;
}


div.in-column {
    margin: 0 0 2em 1em;
    float: right;
    max-width: 12em;
}

hr {
    background-color: #c0c0c0;
    border: 0;
    height: 1px;
    width: 40%;
    margin: 30px auto;
    clear: both;
}


ul.toc {
    padding: 0;
    padding-left: 20px;
    margin-left: 0;
    margin-right: 10px;
    list-style: none;
}

ul.toc li {
    list-style: circle;
}

ul.toc li a {
    text-decoration: none;
    color: black;
}

ul.toc li a:hover {
    text-decoration: underline;
}


/* Tab */

#global_domain_bar .tab {
    background: #4a86cf;
    width: 100%;
}
#site_tab {
    float: right;
}
#user_tab {
    float: left;
}


/* page content */

div#content,
p#pageinfo {
    /*clear: both;
    padding: 1em;
    margin: 1em;*/
}

p#pageinfo {
    position: relative;
    z-index: 999;
}

div.table-of-contents {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 1em;
    float: right;
    font-size: 85%;
}

div.table-of-contents p.table-of-contents-heading {
    font-weight: bold;
    margin: 0.5em 1em;
}

div.table-of-contents ol {
    margin: 1em 0.5em 1em 1em;
    padding: 0;
}

div.table-of-contents ol li {
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

div.table-of-contents ol ol {
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0;
}

/* Navigation Bar for Apps Template */

.navigation-bar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
}

.navigation-bar li {
    display: inline-block;
}

.navigation-bar li a {
    display: block;
    margin: 6px 24px;
    text-decoration: none;
    border-bottom: none !important;
}

.navigation-bar li a:hover {
    color: #1c4171 !important;
}

/* remove the margin between the images of the Newcomer's progress bar. */
.progress-bar li a {
    margin: 0px;
}

/* Used in Apps Template */

.app-header {
    padding: 30px 0 60px 0;
}

.app-header img {
    margin-left: 240px;
    margin-right: 70px;
    width: 128px;
    height: 128px;
}

.app-header h1 {
    font-size: 34pt;
    font-weight: normal;
    margin: 0px;
    letter-spacing: 5px;
    padding-top: 8px;
}

.app-header h2 {
    font-size: 17pt;
    font-weight: normal;
    margin: 0px;
    padding-top: 0px;
}

.content-style h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-top: 40px;
}

.content-style p {
    font-size:16px;
    color:#555555;
}

/* Classes for mobile views */

@media (max-width: 640px) {
    #message {
        width: auto !important;
    }

    #site_tab,
    #footer_image {
        display: none;
    }

    .navigation-bar li {
        display: list-item;
    }

    .image-left img,
    .image-right img {
        margin: 0px;
        float: none;
    }

    .app-header h1,
    .app-header h2,
    .content-style {
        text-align: center;
    }

    .app-header img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .progress-bar li a {
        margin: 0px;
        width: 50px;
    }

    #header {
        position: absolute;
    }

    #header li {
        display: block;
    }

    #menu-icon {
        float: right;
        display:inline-block;
    }

    #user_tab ul { 
        display: none;
        position: absolute;
        padding: 20px;
        background: #4a86cf;
        top: 30px;
        width: 100%;
        color: #fff
    }

    #user_tab li {
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }

    #user_tab:hover ul {
        display: block;
    }
}

@media (min-width: 1400px) {
    #main_content, #footer_content {
        width: 65%;
    }
    .gnome-navbar-brand {
        margin-left: 17%;
    }
}
