/*  screen.css - MoinMoin Default Styles

Copyright (c) 2001, 2002, 2003 by Juergen Hermann
*/

/* content styles */

.footnotes div {
    width: 5em;
    border-top: 1px solid #e5e5e5;
}

textarea {
    font-family: monospace;
}

span#pagelocation span.sep {
    display: inline;
}

span.sep {
    display: none;
}

/* user interface styles */

#title h1 {
    margin: 0;
    padding:10px 0;
    font-size: 2em;
    line-height: 1.2em;
    font-weight: bold;
}

#title h1 a {
    text-decoration: none;
}

#pagelocation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.actionsmenu select {
    width: 180px;
}
    
#navibar li.current {
    font-weight: bold;
}

#footer_edit .editbar form, 
#footer_edit .editbar form div {
    display: inline;
    margin: 0;
}

#footer_edit .editbar li {
    display: inline;
    padding: 0;
    margin: 2px 6px;
}

.editbar a, .editbar a:visited {
    color: #666;
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 2px;
}
#message {
    clear: both;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
    padding: 0.5em;
    background-color: #eee;
    border-bottom: 2px solid #cccccc;
    border-radius: 10px;
    width: 40em;
}

#message p{
    margin: 0;
    padding: 0;
}

#message div.buttons {
    font-weight: normal;
}

.clear-link {
        text-decoration: none;
    font-size: 90%;
}

.status {
    font-size: 90%;
}

form.dialog {
    margin: 0 15px;
}

.dialog td {
    border: none;
    padding: 5px;
}

.dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

*[dir="rtl"] .dialog td.label {
    text-align: left;
}

.dialog td.content input {
    width: 100%;
}

/* We use here dumb css1 ids because of IE suckiness */
#editor-textarea, #editor-comment {
    margin-top: 10px;
    width: 100%;
}

#preview {
    border: 2px solid #e5e5e5;
    padding: .5em;
    background: url(../img/draft.png);
}

#pagebottom {
    clear: both;
}

#credits, #version, #timings{
    margin: 5px 10px;
    padding: 0;
    text-align: center;
    font-size: 0.88em;
    color: #6C7680;
}

#credits li, #timings li {
    display: inline;
    padding: 0 2px;
    margin: 0 4px;
}

#credits img {
    vertical-align: middle;
}

.diff {
    width:99%;
}

.diff-title {
    background-color: #C0C0C0;
}

.diff-added {
    background-color: #E0FFE0;
    vertical-align: sub;
}

.diff-removed {
    background-color: #FFFFE0;
    vertical-align: sub;
}

.diff-added span {
    background-color: #80FF80;
}

.diff-removed span {
    background-color: #FFFF80;
}

.searchresult dd span {
    font-weight: bold;
}

/* Side Edit Menu*/

#side_editbar {
    position: absolute;
    right: 0;
    z-index: 1500;
}

#side_editbar select {
    background: transparent;
    -moz-appearance: none;
    color: #000;
    font-size: inherit;
    border: none;
    cursor: pointer;
}

#side_editbar ul {
    position: fixed;
    right: -190px;
    top: 70px;
    background-color: #f5f5f5;
    padding: 0;
}

#side_editbar ul:hover {
        right: 0px;
}

#side_editbar ul li {
    padding: 6px 10px;
    border-bottom: 1px solid #e2e2e2;
    list-style: none;
}

#side_editbar ul li:hover {
    background-color: #e0e0e0;
}

#side_editbar ul li a {
    color: #000;
    display: block;
    padding-left: 35px;
}

/* Handle "Edit" link with selectors as it doesn't have a class */

#side_editbar ul li:first-child a {
   background: transparent url(edit.svg)  2% 60% no-repeat;
}

#side_editbar ul li:first-child {
   background: #5698DB ;
}

#side_editbar ul li:first-child:hover {
    background: #4a86cf;
}

/* Editbar Menu Items */

#side_editbar ul li a.nbattachments {
    background: transparent url(attachment.svg)  2% 60%  no-repeat;
}

#side_editbar ul li a.nbinfo {
    background: transparent url(info.svg)  2% 60%  no-repeat;
}

#side_editbar ul li a.nbquicklink {
    background: transparent url(insert-link.svg)  2% 60% no-repeat;
}

#side_editbar ul li a.nbsubscribe {
    background: transparent url(subscribe.svg)  2% 60% no-repeat;
}

#side_editbar ul li .disabled {
    background: transparent url(lock.svg)  2% 60% no-repeat;
    padding-left: 34px;
}

#side_editbar ul li form.actionsmenu {
    background: transparent url(more.svg)  2% 60%  no-repeat;
}

#side_editbar ul li form {
    padding-left: 35px;
}
