.navbar-default {
  border-color: transparent;
}

.sponsors-home a img {
  margin: 20px;
  vertical-align: middle;
}

.gnome-body .gnome-header {
  padding-bottom: 50px;
}

.gnome-body .footer {
  margin-top: 0px;
}

.sponsors-home a img {
  margin: 20px;
  vertical-align: middle;
}

body {
  background-color: #4a86cf;
}

.featured_text {
  font-size: 2em;
}

.featured_text_smaller {
  font-size: 1.3em;
}

#logo .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

#logo .h1 {
  font-size: 1.5em;
  font-weight: 200;
  margin: 0px;
  padding: 0;
  color: #fff;
}

#guadec-schedule {
  color: white;
  margin-top: 40px;
}

#guadec-schedule a {
  color: white;
}

#guadec-schedule ul {
  list-style-type: none;
}

