/* First include the GNOME style sheets. These are almost verbatim
 * those used for www.gnomeo.org with a few things that conflict
 * with cgit commented out */
 
/* Then include the cgit style sheet */
@import "cgit.css";

/* No logo for CGIT - we have one in the GNOME header */
table#header td.logo {
    display: none
}

#help-img .tab a {
	background: url(https://git.gnome.org/browse/gnome-icon-theme-symbolic/plain/gnome/scalable/apps/help-browser-symbolic.svg) no-repeat;
	padding-left: 20px;
}


#page {
    width: 100%;
    margin: auto;
} 


/* Make link colors more gnome-ish */
a, a:visited, a:hover, table.list td a:hover {
    color: #3465A4;
}

/* Drop the font size for the heading down */
table#header td.main {
	font-size: 250%;
}

/* When we killed the body padding, this cell is at the screen edge, move it back */
table#header td.right {
    padding-right: 4px;
}

/* Fix for the header covering the line linked to when using anchors */
table.blob td.linenumbers a:target {
  padding-top: 55px;
}

/* kill some more vertical space in the cgit header */
table.tabs {
    margin-top: 0em;
}


/* Make the branch/tag decoration a little smaller */
a.branch-deco, a.tag-deco {
    display: inline-block;
    font-size: 90%;
    padding: 1px 0.25em;
}

.hidden {
    display: none;
}

table.tabs td.form input, table.tabs td.form select {
    font-size: 90%;
}

#header {
    width: 100%;
    float: center;
    font-size: 75%;
}

#cgit {
    margin: auto;
    width: 100%;
}

select, input {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 2px;
    color: #333;
    background-color: #eee;
    border-color: #e1e1e1;
    padding: 6px 30px;
}

input:hover{
    color: #333;
    background-color: #d5d5d5;
    border-color: #c3c3c3;
}

input[type="text"] {
    background-color: #ffffff;
}

input[type="text"]:focus {
    background-color: #eee;
}

/* This is for the text labels on diff section */
.cgit-panel select {
    margin: 2px 0;
}

.cgit-panel .label {
    color : #000000;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    line-height: inherit;
}

/* Style HEAD & Branch labels */

a.deco {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff !important;
    border-radius: 2px;
}
a.branch-deco {
    background-color: #4e9a06;
    border-color: #4cae4c;
    color: #fff !important;
    border-radius: 2px;
}

/* https://git.gnome.org/browse/static-web/tree/cgit
 * Remove a black box that is caused from the footer CSS class */

.content .footer{
    background-color: transparent;
}

/* Syntax highlighting */

table.blob .num  { color:#2928ff; }
table.blob .esc  { color:#ff00ff; }
table.blob .str  { color:#ff0000; }
table.blob .dstr { color:#818100; }
table.blob .slc  { color:#838183; font-style:italic; }
table.blob .com  { color:#838183; font-style:italic; }
table.blob .dir  { color:#008200; }
table.blob .sym  { color:#000000; }
table.blob .kwa  { color:#000000; font-weight:bold; }
table.blob .kwb  { color:#830000; }
table.blob .kwc  { color:#000000; font-weight:bold; }
table.blob .kwd  { color:#010181; }

table.list td a.ls-dir {
    color: #0000FF;
    font-weight: bold;
}

/* Bootstrap theme overwrites */

pre {
    background-color: #fff !important;
}
