.header {
  background-color: #f57900;
  background-image: url('../images/header-background.png');
  background-position: bottom center;
  background-repeat: no-repeat;
  color: #ffffff;
  font-family: Cantarell,"Droid Sans",Ubuntu,"DejaVu Sans",Arial,sans-serif;
}

.header h1 {
  font-size: 3em;
  margin-top: 0.5em;
  margin-bottom: 1.25em;
}

.paragraphs p {
  line-height: 1.6;
}

quote {
  font-style: italic;
  color: #666;
}

.btn a {
  color: #fff;
}

.donate-share-container {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.donate-button {
  padding: 0.75em 2em;
  background: #4e9a06;
  border: none;
  font-weight: bold;
}

.donate-button:hover {
  background: #5cb307;
}

.spread-the-word {
  margin-top: 1.5em;
}

.footer-art {
  background: url('../images/birdnflags.png') no-repeat;
  height: 200px;
}

.footer-grass {
  background: url('../images/grass.png') repeat-x;
  height: 39px;
  margin-top: -39px;
}

.footer {
  background: #d3d7cf;
  text-align: center;
  min-height: 200px;
  padding: 20px;
}

.support-citations {
  margin-top: 2em;
}
